* {
    margin: 0;
    padding: 0;
}
.main-bg {
    background-color: #FFF8F2;
    height: 730px;
    width: 100%;

}
/* navbar desining */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    padding: 40px;
}
.logo {
    font-size: 40px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
    align-items: center;
}
.btn {
    background-color: #FD6E0A;
    color: white;
    height: 50px;
    width: 120px;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2 {
    background-color: #ffffff;
    color: rgb(255, 123, 0);
    height: 50px;
    width: 120px;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 20px rgb(255, 145, 0);

}
.btn2:hover {
    transform: scale(1.08);
    transition: 0.4s;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 125, 3);
    box-shadow: 0 0 20px rgb(253, 253, 253);
    font-size: 17px;
    font-weight: bolder;
}

.btn:hover {
    transform: scale(1.08);
    transition: 0.4s;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 0 20px rgb(255, 174, 0);

}
/* hero section designing */
.hero-section {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
}
.side-img {
    margin-bottom: 200px;
    height: 600px;
    margin-left: 30px;
}

.information-section {
    margin-top: 200px;
    width: 500px;
    height: 500px;
}
.information-section h3 {
    font-size: 40px;
}
.information-section h1 {
    font-size: 80px;
}
.information-section p {
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgb(104, 103, 103);
}
.button-section {
    display: flex;
    gap: 20px;
}
.man-bg {
    background-image: url(profile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    

}
.man-image {
    height: 600px;
}
/* About me section designing */
.about-me-section {
    height: 400px;
    width: 800px;
    background-color: #FFF8F2;
    text-align: center;
    padding: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    margin-left: 21%;

}
.about-me-section h1 {
    margin-bottom: 20px;
}
.about-me-section p {
    color: rgb(114, 114, 114);
}
.about {
    margin-top: 100px;
}
.feature {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: center;
}
.feature p {
    margin-bottom: 5px;
}
/* about me section ends here */

/* what i do section design */
/* .what-section {
    display: flex;
    justify-content: center;
    width: 700px;
} */
.what-heading {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
    
}
.what-heading h1 {
    margin-bottom: 15px;
}
.what-heading p {
    margin-top: 10px;
    line-height: 1.5;
}
/* card section designing */
.card-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.card {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.card img {
    margin-bottom: 15px;
}
.card h1 {
    margin-bottom: 10px;
}
.card p {
    margin-top: 10px;
    line-height: 1.5;
}
/* A summary of my resume */
.templete {
    height: 200px;
    width: 400px;
}
.templete h1 {
    color: rgb(87, 87, 87);
}
.templete h2 {
    color: rgb(88, 88, 88);
}
.templete p {
    color: rgb(129, 129, 129);
}
.templete-section {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 70px;

}
/* hr line designing */
.hr-style {
    width: 900px;
    margin-left: 20%;
    margin-bottom: 30px;

}
/* footer section desgining */
.footer {
    height: 600px;
    width: 100%;
    background-color: #FFF8F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-part1 {
    width: 400px;   
}
.footer-part1 h1 {
    margin-bottom: 10px;
}
.footer-part1 p {
    margin-bottom: 30px;
}
.form-section {
    display: grid;
}

.forum-style {
    height: 60px;
    width: 400px;
    margin-bottom: 20px;
    border-style: none;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);

}
.forum-style-message {
    height: 150px;
    width: 400px;
    margin-bottom: 20px;
    border-style: none;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);

}
